In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
file = pd.read_csv("TMDB_movie_dataset_v11.csv")
tmbd_data = pd.DataFrame(file)
tmbd_data.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,budget,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,160000000,https://www.warnerbros.com/movies/inception,tt1375666,en,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,165000000,http://www.interstellarmovie.net/,tt0816692,en,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,185000000,https://www.warnerbros.com/movies/dark-knight/,tt0468569,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,237000000,https://www.avatar.com/movies/avatar,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,220000000,https://www.marvel.com/movies/the-avengers,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [3]:
#exract date to only movies released between 01JAN19 and 31DEC23
start_date = '2019-01-01'  
end_date = '2023-12-31'    
movies_2019_2023_df = tmbd_data[(tmbd_data['release_date'] >= start_date) & (file['release_date'] <= end_date)]
movies_2019_2023_df = movies_2019_2023_df.copy()
movies_2019_2023_df.count()

id                      209440
title                   209439
vote_average            209440
vote_count              209440
status                  209440
release_date            209440
revenue                 209440
runtime                 209440
adult                   209440
backdrop_path            81336
budget                  209440
homepage                 35169
imdb_id                  83868
original_language       209440
original_title          209439
overview                174526
popularity              209440
poster_path             177675
tagline                  32010
genres                  143454
production_companies    102482
production_countries    125610
spoken_languages        132926
keywords                 57311
dtype: int64

In [4]:
#Find out how many differet genres there are
exploded_movies = movies_2019_2023_df.explode('genres')
genre_counts = exploded_movies.groupby('genres').size().reset_index(name='count')
genre_counts = genre_counts.sort_values(by='count', ascending=False)
genre_counts

                                                 genres  count
1935                                        Documentary  35786
2172                                              Drama  23309
1261                                             Comedy   8620
722                                           Animation   6637
3132                                             Horror   5920
...                                                 ...    ...
1939                         Documentary, Action, Crime      1
1943             Documentary, Adventure, Comedy, Family      1
1944            Documentary, Adventure, Comedy, Mystery      1
1946              Documentary, Adventure, Drama, Family      1
4708  Western, War, Adventure, History, Science Fict...      1

[4709 rows x 2 columns]

In [5]:
movies_2019_2023_df["budget"] = movies_2019_2023_df["budget"].astype(int)
movies_2019_2023_df["Total Budget"] = movies_2019_2023_df["budget"] + (movies_2019_2023_df["budget"]*.5)
movies_2019_2023_df["Total Budget"] = movies_2019_2023_df["Total Budget"].map("${:,.0f}".format)
movies_2019_2023_df["revenue"] = movies_2019_2023_df["revenue"].map("${:,.0f}".format)
movies_2019_2023_df["budget"] = movies_2019_2023_df["budget"].map("${:,.0f}".format)

movies_2019_2023_df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,budget,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords,Total Budget
15,299534,Avengers: Endgame,8.263,23857,Released,2019-04-24,"$2,800,000,000",181,False,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,"$356,000,000",https://www.marvel.com/movies/avengers-endgame,tt4154796,en,Avengers: Endgame,After the devastating events of Avengers: Infi...,91.756,/or06FN3Dka5tukK1e9sl16pB3iy.jpg,Avenge the fallen.,"Adventure, Science Fiction, Action",Marvel Studios,United States of America,"English, Japanese, Xhosa","superhero, time travel, space travel, time mac...","$534,000,000"
18,475557,Joker,8.168,23425,Released,2019-10-01,"$1,074,458,282",122,False,/hO7KbdvGOtDdeg0W4Y5nKEHeDDh.jpg,"$55,000,000",http://www.jokermovie.net/,tt7286456,en,Joker,"During the 1980s, a failed stand-up comedian i...",54.522,/udDclJoHjfjb8Ekgsd4FDteOkCU.jpg,Put on a happy face.,"Crime, Thriller, Drama","Warner Bros. Pictures, Joint Effort, Village R...","Canada, United States of America",English,"dream, street gang, society, psychopath, clown...","$82,500,000"
57,634649,Spider-Man: No Way Home,7.990,18299,Released,2021-12-15,"$1,921,847,111",148,False,/14QbnygCuTO0vl7CAFmPf1fgZfV.jpg,"$200,000,000",https://www.spidermannowayhome.movie,tt10872600,en,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,186.065,/5weKu49pzJCt06OPpjvT80efnQj.jpg,The Multiverse unleashed.,"Action, Adventure, Science Fiction","Marvel Studios, Pascal Pictures, Columbia Pict...",United States of America,"English, Tagalog","new york city, hero, showdown, magic, loss of ...","$300,000,000"
81,496243,Parasite,8.515,16430,Released,2019-05-30,"$257,591,776",133,False,/hiKmpZMGZsrkA3cdce8a7Dpos1j.jpg,"$11,363,000",https://www.parasite-movie.com/,tt6751668,ko,기생충,"All unemployed, Ki-taek's family takes peculia...",64.627,/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg,Act like you own the place.,"Comedy, Thriller, Drama",Barunson E&A,South Korea,"English, German, Korean","dark comedy, private lessons, birthday party, ...","$17,044,500"
117,299537,Captain Marvel,6.843,14657,Released,2019-03-06,"$1,131,416,446",124,False,/w2PMyoyLU22YvrGK3smVM9fW1jj.jpg,"$152,000,000",https://www.marvel.com/movies/captain-marvel,tt4154664,en,Captain Marvel,The story follows Carol Danvers as she becomes...,50.399,/AtsgWhDnHTq68L0lLsUrCnM7TjG.jpg,Higher. Further. Faster.,"Action, Adventure, Science Fiction",Marvel Studios,United States of America,English,"superhero, based on comic, alien invasion, sup...","$228,000,000"

In [6]:
cleaned_movie_df = movies_2019_2023_df[["id", "title", "budget", "Total Budget", "revenue", "genres", "vote_average", "vote_count", "popularity"]]
cleaned_movie_df.head()

,id,title,budget,Total Budget,revenue,genres,vote_average,vote_count,popularity
15,299534,Avengers: Endgame,"$356,000,000","$534,000,000","$2,800,000,000","Adventure, Science Fiction, Action",8.263,23857,91.756
18,475557,Joker,"$55,000,000","$82,500,000","$1,074,458,282","Crime, Thriller, Drama",8.168,23425,54.522
57,634649,Spider-Man: No Way Home,"$200,000,000","$300,000,000","$1,921,847,111","Action, Adventure, Science Fiction",7.990,18299,186.065
81,496243,Parasite,"$11,363,000","$17,044,500","$257,591,776","Comedy, Thriller, Drama",8.515,16430,64.627
117,299537,Captain Marvel,"$152,000,000","$228,000,000","$1,131,416,446","Action, Adventure, Science Fiction",6.843,14657,50.399

In [9]:
cleaned_data_df = cleaned_movie_df.copy()
cleaned_movie_df.head()

,id,title,budget,Total Budget,revenue,genres,vote_average,vote_count,popularity
15,299534,Avengers: Endgame,"$356,000,000","$534,000,000","$2,800,000,000","Adventure, Science Fiction, Action",8.263,23857,91.756
18,475557,Joker,"$55,000,000","$82,500,000","$1,074,458,282","Crime, Thriller, Drama",8.168,23425,54.522
57,634649,Spider-Man: No Way Home,"$200,000,000","$300,000,000","$1,921,847,111","Action, Adventure, Science Fiction",7.990,18299,186.065
81,496243,Parasite,"$11,363,000","$17,044,500","$257,591,776","Comedy, Thriller, Drama",8.515,16430,64.627
117,299537,Captain Marvel,"$152,000,000","$228,000,000","$1,131,416,446","Action, Adventure, Science Fiction",6.843,14657,50.399