In [3]:
import pandas as pd

In [5]:
file = pd.read_csv("TMDB_movie_dataset_v11.csv")
tmbd_data = pd.DataFrame(file)
tmbd_data.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [11]:
#exract date to only movies released between 01JAN19 and 31DEC23
start_date = '2019-01-01'  
end_date = '2023-12-31'    
movies_2019_2023_df = tmbd_data[(tmbd_data['release_date'] >= start_date) & (file['release_date'] <= end_date)]
movies_2019_2023_df.count()

id                      209440
title                   209439
vote_average            209440
vote_count              209440
status                  209440
release_date            209440
revenue                 209440
runtime                 209440
adult                   209440
backdrop_path            81336
budget                  209440
homepage                 35169
imdb_id                  83868
original_language       209440
original_title          209439
overview                174526
popularity              209440
poster_path             177675
tagline                  32010
genres                  143454
production_companies    102482
production_countries    125610
spoken_languages        132926
keywords                 57311
dtype: int64

In [13]:
#Find out how many differet genres there are
exploded_movies = movies_2019_2023.explode('genres')
genre_counts = exploded_movies.groupby('genres').size().reset_index(name='count')
genre_counts = genre_counts.sort_values(by='count', ascending=False)
genre_counts

                                                 genres  count
1935                                        Documentary  35786
2172                                              Drama  23309
1261                                             Comedy   8620
722                                           Animation   6637
3132                                             Horror   5920
...                                                 ...    ...
1939                         Documentary, Action, Crime      1
1943             Documentary, Adventure, Comedy, Family      1
1944            Documentary, Adventure, Comedy, Mystery      1
1946              Documentary, Adventure, Drama, Family      1
4708  Western, War, Adventure, History, Science Fict...      1

[4709 rows x 2 columns]